body {
    background-color: #C0C0C0;
    font-family: Trebuchet MS
}

.clearer {
    clear: both;
}

#audio-file-chooser {
    float: left;
}
#audio-controls {
    border: 2px solid #606060;
    position: relative;
    float: left;
    text-align: center;
    width: 158px;
    height: 15px;
}

#frequency-panel  div{
    float: left;
    font-family: Courier New;
    font-weight: bold;
    font-size: 20px;
}

.control { position: absolute; }

#stop { top: 0px; left: 0px; }
#play { top: 0px; left: 15px; }
#playbar { top: 0px; left: 30px; width: 128px; height: 16px; background-image:url('./images/playbar.png'); }
#playbar-progress { top: 0px; left: 0px; width: 0px; height: 16px; background-image:url('./images/playbar-progress.png'); }